---
os: linux
dist: bionic
language: ruby

env:
  - VAGRANT_BOX=trombik/ansible-freebsd-12.1-amd64
  - VAGRANT_BOX=trombik/ansible-openbsd-6.6-amd64
  - VAGRANT_BOX=trombik/ansible-ubuntu-18.04-amd64
  - VAGRANT_BOX=trombik/ansible-centos-7.4-x86_64

addons:
  apt:
    update: true
    packages:
      - python-pip
      - curl
      - bridge-utils
      - dnsmasq-base
      - ebtables
      - libvirt-bin
      - libvirt-dev
      - qemu-kvm
      - qemu-utils
      - ruby-dev

before_install:
  - yes | gem update --system --force
  - gem install bundler
  - |
    if [ ! -d vagrant-run ]; then
      git clone https://github.com/trombik/vagrant-run || exit 1
    fi
  - vagrant-run/bin/before_install.sh

script:
  - vagrant-run/bin/up.sh "${VAGRANT_BOX}"
  - vagrant-run/bin/run.sh build.sh
  - vagrant-run/bin/download.sh file1 foo/file2
  - grep file1 file1
  - grep file2 foo/file2
